$primary-color: #e74c3c
$text-color: #2E2D33
$accent-color: #BD5248
$bg-color: #F6F6F8
$link-color: $accent-color
$selection-color: #044160
$black: #000
$white: #FFF
$brand: #e74c3c
$hover-color: transparentize($brand, .3)
