// Navbar Effects
.navbar-default
  background-color: transparent
.navbar-default .nav li a:hover, .navbar-default .nav li a
  color: #e74c3c
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
  background-color: rgb(231, 111, 0)
.navbar-default .navbar-nav>.active>a
  border-radius: 0px
  background-color: rgb(231, 111, 0)
