<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mon parcours</h2>
                    <h3 class="section-subheading text-muted">Ma carrière jusqu'à présent</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                       <!--  <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006</h4>
                                    <h4 class="subheading">2006 Bac en informatique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006</h4>
                                    <h4 class="subheading">COPEXTEL (Cuba)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - Intégration Web Sharepoint. <br>
                                        - Design web du portal web. <br>
                                        - Création des sites internes dans l’entreprise. <br>
                                        - Conception d’interfaces web. <br>
                                        - Mise à jour ponctuelle de divers sites. <br>
                                        - Administrer Portail web corporatif. <br>
                                    </p>
                                    <!-- Include Icons Technologies -->
                                    {% include icon-bootstrap.html %}
                                    {% include icon-html.html %}
                                    {% include icon-wordpress.html %}
                                    {% include icon-joomla.html %}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Djoser Solutions (Montréal)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - Developement web HTML5, CSS3, jQuery. <br>
                                        - Intégration web .NET MVC. <br>
                                        - Utilisation du Framework Bootstrap dans le développement des applications. <br>
                                        - Conception et architecture de l’information. <br>
                                        - UX design. <br>
                                        - Création de web interfaces. <br>
                                        - Design et Intégration de l'application OSCAR pour l'entreprise OLYMPUS NDT.<br>
                                    </p>
                                    <!-- Include Icons Technologies -->
                                    {% include icon-bootstrap.html %}
                                    {% include icon-css3.html %}
                                    {% include icon-html5.html %}
                                    {% include icon-jquery.html %}
                                    {% include icon-less.html %}
                                    {% include icon-net.html %}
                                    {% include icon-illustrator.html %}
                                    {% include icon-photoshop.html %}
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Speedyrails (Freelance)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - Découpage et intégration HTML, CSS, Javascript,  jQuery <br>
                                        - Programmation d'éléments interactifs pour augmenter l'expérience utilisateur. <br>
                                        - Responsive Web Design. <br>
                                        - Intégration web avec Jekyll.
                                        - Utilization du Framework Bootstrap. <br>
                                    </p>
                                    {% include icon-bootstrap.html %}
                                    {% include icon-css3.html %}
                                    {% include icon-html5.html %}
                                    {% include icon-jquery.html %}
                                    {% include icon-less.html %}
                                    {% include icon-net.html %}
                                    {% include icon-illustrator.html %}
                                    {% include icon-photoshop.html %}
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Solutions Medias 360 (Montréal)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        - Découpage et Intégration HTML, CSS, jQuery des interfaces graphiques. <br>
                                        - Intégration web JSP. <br>
                                        - Programmation d'éléments interactifs pour augmenter l'expérience utilisateur. <br>
                                        - Responsive web Design. <br>
                                        - Optimisation SEO. <br>
                                        - Support Web et amélioration des sites existantes. <br>
                                    </p>
                                    <!-- Include Icons Technologies -->
                                    {% include icon-css3.html %}
                                    {% include icon-html5.html %}
                                    {% include icon-jquery.html %}
                                    {% include icon-bootstrap.html %}
                                    {% include icon-less.html %}
                                    {% include icon-java.html %}
                                    {% include icon-js.html %}
                                    {% include icon-photoshop.html %}
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faite partie
                                    <br>de mon
                                    <br>parcours!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
